:root {
    --text-color: black;
    --bg-color: white;
    --accent-color: rgb(255, 145, 0);
    --font:"map-roman-variable", serif; 
}

html {
    font-size: 10px; 

}
body {
    font-family: var(--font);
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.4rem;
}
h1 {
  font-variation-settings: 'wdth' 100;
}
h2 {
  font-variation-settings: 'wdth' 80;
}
a {
    color: var(--accent-color);
    
}
