:root {
    --text-color: white;
    --bg-color: black;
    --accent-color:#fff200;
    --font:"stix-two-text", serif;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 100%; 
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.5;
    font-variation-settings: "wght" 300;
    padding: 0;
    margin: 0;
}

main, header, footer {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.5;
}
p, li {
    max-width: 60ch;
}
h1 {
  text-transform: uppercase;
  font-variation-settings: 'wdth' 900;
}
h2 {
  font-variation-settings: 'wdth' 500;
}
h3 {
  font-variation-settings: 'wdth' 300;
}

a {
    text-decoration: underline;
    color: var(--accent-color);
    font-variation-settings: wdth 300;
    transition: all 0.6s ease;
    font-weight: normal;
}
a:hover {
    color: var(--accent-color);
    text-decoration: none;
}

.hero-body {
    background-image: url('../img/sama.jpg');
    background-size: cover;
    background-position: center;
}

.hero-body main {
    width: 100%;
    background-color: var(--accent-color);
    color: var(--bg-color);
    height: 100dvh;
    padding: 0;
    margin: 0;
}

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1em;
}

.hero h1 span {
    display: block;
    font-size: 1.5rem;
    font-variation-settings: 'wght' 900, 'wdth' 900;
}

.hero h1 span:nth-child(1) {
    text-indent: 20vw;
}

.hero h1 span:nth-child(2) {
    text-indent: 80vw;
}

.hero h1 span:nth-child(3) {bgv huluh 
    text-indent: 50vw;
}

.hero h1 span:nth-child(4) {
    text-indent: 10vw;
}

.hero h1 span:nth-child(5) {
    text-indent: 70vw;
}