:root {
    --text-color: white;
    --bg-color: black;
    --accent-color:#fff200;
    --font:"stix-two-text", serif;
font-weight: 400;
font-style: normal;variable", sans-serif; 
}

html {
    font-size: 100%; 
    scroll-behavior: smooth;
}
body {
    font-family: var(--font);
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.5;
    font-variation-settings: "wght" 300;
}

main, header, footer {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.5;
}
p, li {
    max-width: 60ch;
}
h1 {
  font-variation-settings: 'wdth' 900;
}
h2 {
  font-variation-settings: 'wdth' 500;
}
h3 {
  font-variation-settings: 'wdth' 300;
}

a {
    text-decoration: underline;
    color: var(--accent-color);
    font-variation-settings: wdth 300;
    transition: all 0.6s ease;
    font-weight: normal;
}
a:hover {
    color: var(--accent-color);
    text-decoration: none;
}
